*{
    box-sizing: border-box;
}

#container_cards {
    border: 1px solid black;
    width: 50em;
    height: 40em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
}

.card{
    border: 1px solid red;
}