* {
    box-sizing: border-box;
}

#container_cards {
    margin: 0 auto;
    display: grid;
    width: 320px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.back_card {
    background-color: black;
    width: 150px;
    height: 150px;
}

.card {
    border: 1px solid red;
    width: 150px;
    height: 150px;
    background-size: cover;
}